.row
	.span11
		%h1
			263-Bayer CropSciences - Axmi115v02
	%br/
	.span11.offset1{ :style => 'margin-top:20px;' }
		.well
			%h6 GENERAL INFO
			.pull-right
				%span.label.label-info	Bacillus
				%span.label.label-info	Insecticidal
				%span.label.label-info	Yield
				%span.label.label-info	Wide spectrum
				%span.label.label-info	Cry proteins
			.lead
				Protein: Axmi115v02
				%br/
				Protein family: VIP3A
				%br/
				Expression system: bacterial
			%p
				Bayer CropScience is looking to outsource the development of a process to produce large scale batches of Axmi115v02 protein. This protein is produced in GM plants developed by Bayer CropScience for regulatory studies. 10 to 25 g of the protein are required for this purpose.
				%br/ 
				Axmi115v02 is 70% homologous to Vip3Af protein (vegetative insecticidal protein), produced by Bacillus thuringiensis. Vip3A proteins show a wide spectrum of activities against lepidopteran insects. It was reported to be 260 more active than cry proteins. 
				%br/
				The aim of this project is to develop a manufacturing process with a satisfying yield and purity above 95% and leading to the production of an active form of the protein.			
			.lead
				Sequence:
			%pre
				MNMNNTKLNARALPSFIDYFNGIYGFATGIKDIMNMIFKTDTGGNLTLDEILKNQQLLNEISGKLDGVNGSLNDLIAQGNLNTELSKEILKIANEQNQVLNDVNNKLDAINTMLHIYLPKITSMLSDVMKQNYALSLQIEYLSKQLQEISDKLDIINVNVLINSTLTEITPAYQRIKYVNEKFDKLTFATESTLRAKQGIFNEDSFDNNTLENLTDLAELAKSITKNDVDSFEFYLHTFHDVLIGNNLFGRSALKTASELITKDEIKTSGSEIGKVYSFLIVLTSLQAKAFLTLTTCRKLLGLSDIDYTSIMNEHLNNEKNEFRDNILPALSNKFSNPSYAKTIGSDNYAKVILESEPGYALVGFEIINDPIPVLKAYKAKLKQNYQVDNQSLSEIVYLDIDKLFCPENSEQKYYTKNLTFPDGYVITKITFEKKLNNLIYEATANFYDPSTGDIDLNKKQVESTFPQTDYITMDIGDDDGIYMPLGVISETFLTPINSFGLEVDAKSKTLTLKCKSYLREYLLESDLKNKETGLIAPPNVFISNVVKNWDIEEDSLEPWVANNKNAYVDNTGGIERSKALFTQGDGEFSQFIGDKLKPNTDYIIQYTVKGKPAIYLKNKSTGYITYEDTNGNSEEFQTIAVKFTSETDLSQTHLVFKSQNGYEAWGDNFIILEAKLFETPESPELIKFNDWERFGTTYITGNELRIDHSRGGYFRQSLNIDSYSTYDLSFSFSGLWAKVIVKNSRGVVLFEKVKNNGSSYEDISESFTTASNKDGFFIELTAERTSSTFHSFRDISIKEKIE
	.span5.offset1
		.well
			%h6 PX
			%strong
				Project manager(s) : 
			= link_to 'Joana Pech', user2_path 
			%br/
			%strong
				Involved people :
			= link_to 'Aurélie Delphin', user3_path
			,
			= link_to 'Pierre-Marie Deffayet', '#'
	.span5.offset1
		.well
			%h6 CUSTOMER
			%strong
				Company :
			Bayer CropScience NV
			%br/
			%strong
				Contact(s) :
			Stéphane Helleboid
			%a{ :href => '#' }
				%i.icon-briefcase 
				Contact info
	.span5.offset1
		.well
			%h6 RELATED FILES
			%strong
				Protein sheet: 
			%a{ :href => '#' }
				%i.icon-file
				Download file	
			%br/
			%strong
				Tux folder:
			\\\Tux\production_px\a facon\263-Bayer CropSciences - Axmi115v02\
	.span5.offset1
		.well
			%h6 LAB BOOKS
			%strong
				355, 356, 357: 
			scientific offices closet
			
	.span11.offset1
		.well
			%h6 COMMENTS
			%br/
			.row
				.span1{ :style => 'margin-bottom:20px;'}
					= image_tag 'default_user.jpg', :style => 'width:80px;height:80px;'
				.span9
					%h6.pull-right
						2 days ago
					%strong
						Joana said:
					%br/
					Yay, this project was so fantastic, such a success story!!
			.row
				.span1{ :style => 'margin-bottom:20px;'}
					= image_tag 'pierremarie.jpg', :style => 'width:80px;height:80px;'
				.span9	
					%h6.pull-right
						YESTERDAY
					%strong
						Pierre-Marie said:
					%br/
					Well, we had a couple of issues all along the process....
			.row
				.span1{ :style => 'margin-bottom:20px;'}
					= image_tag 'christophe.jpg', :style => 'width:80px;height:80px;'
				.span9	
					%strong
						Add a comment:
					%br/
					%textarea{ :rows => '3', :style => 'width:300px;' }
					%button.btn.btn-large Submit
					